$white: #fff;
$purple: #583FBC;
$yellow: #FFBF00;
$gray-01: #453f51;
$gray-02: #5E5570;
$blue: #4682b4;
$blue-dark: #181945;
$blue-light: #DBEFFA;
$red: #FF5757;
$black: #000;
$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;

$gutter: 8px;
$border-radius: 4px;

*{
    --swiper-navigation-size: 15px!important;
}
